body{
    background-color: white;
    position: relative;
    font-family: 'Arial', Times, serif;
    padding: 10%%;
}
#ca{
  color: grey;
}
#co{
  color: black;
}
#coco{
  color: black;
}
.btn{
  color: black;
  text-align: center;
}
.btn2{
  color: black;
  text-align: center;
  margin: 10%;
}
.alalal{
  text-align: center;
  margin: 2%;
}

#btbt{
  padding-left: 1%;
}

#alal{
  color: grey;
}

#an{
  color: grey;
}

#ar{
  color: grey;
}

#aq{
  color: grey;
}

#al{
  color: grey;
}

#ae{
  color: grey;
}

#at{
  color: grey;
}

#ai{
  color: grey;
}

.ab{
  color: black;
}

.ao{
  color: grey;
}

p span{
    color: grey;
}

.haut{
    width: 100%;
    height: 150px;
    background-color: black;
    position: absolute;
}

.container{
    width: 100%;
    padding-inline: 0px;
    top: 22px;
}

.navbar-brand {
    font-size:xx-large;
}

ul li .nav-item:hover{
   color: orange;
}

main{
    
    width: 100%;
    background-color: white;
}

footer{
    padding: 2%;
}

footer p{
   font-size:medium;
}

footer hr{
    border-top: 2px black dashed;
}

footer a{
    color: orange;
    text-decoration: none;
}

h5{
    color: #ebe6e6;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: orange;
}

.breadcrumbliste{
    position: relative;
    width: 100%;
}

.breadcrumbliste,.mograycomment,.bg-gris{
    background-color: #ebe6e6;
}

ol li a{
    color: black;
    font-weight: bold ;
    text-decoration: none;
}

.aside1,.graycomment,.bg-gris{
    background-color: #F9F9F9;
}

button{
    background-color:#F9F9F9;
    border:1px solid gray;
}

button,textarea,input{
    border: 1px solid #adb5bd;
}

.bg-gris{
    position: relative;
    width: 100%; 
    float: left;
    width: 100%;
    margin: 0;
    text-align: left;
}

.wrapper{
    width: 75%;
    padding-inline: 0px;
    margin: auto;
}

.borderbottom{
    border-bottom: 1px dashed #adb5bd;
}

.fw-bold{

  color: black;
}
