.li{list-style: none;color: white;}
.li a{color: white; text-decoration: none; padding-left: 5px; padding-right: 5px;}
/* .bgimg{background-color: #D2D2D2; padding-left: 0px;padding-right: 0px;} */
.small{background-color: #D2D2D2;}
#readmore a{color: white; text-decoration: none;}
.hr{border-top: 2px dashed black}
.hs{border-top: 3px solid black;}
body{position: relative;}
.position{position: absolute;left: 180px; top: 95px; }
.main{background-color: #EEEEEE; top: 550px; position: relative;}
.pos{position: relative; top:500px;}
footer{ position: relative; top: 550px; }
@media only screen and (max-width: 400px) {
        .a img{width: 40%;}
        .a h4{font-size: 0.7em;}
        .a p{font-size: 0.3em;}
        .lo img{width: 100%;}
        
}